* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
    padding: 2rem;
  }
  
  header {
    max-width: 520px;
    margin: 0 auto 4rem;
    text-align: center;
  }
  
  header h1 span {
    display: block;
    font-weight: 200;
  }

  header h1 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .layout {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  
    position: relative;
    min-height: 250px;   
  }
  
  .card img {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 64px;
    height: auto;
  }
  
  
  .cyan   { border-top: 4px solid hsl(180, 62%, 55%); }
  .red    { border-top: 4px solid hsl(0, 78%, 62%); }
  .orange { border-top: 4px solid hsl(34, 97%, 64%); }
  .blue   { border-top: 4px solid hsl(212, 86%, 64%); }
  
  @media (min-width: 900px) {
    .layout {
      display: flex;
      gap: 2rem;
    }
  
    .column {
      flex: 1;
      justify-content: center;
    }
  }

  
